# --- PYTHON ---
# Archivos compilados y caché
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# --- ARCHIVOS SENSIBLES Y DATOS (Personalizado para tu curso) ---
# No publicar los scripts .py de la carpeta principal que generan los talleres
/*.py
# No publicar archivos de datos o modelos
*.pkl
*.csv
*.xlsx
*.sqlite

# --- DISTRIBUCIÓN Y EMPAQUETADO ---
# Carpetas que genera Python al crear la librería
dist/
build/
*.egg-info/
lib/
bin/

# --- ENTORNOS VIRTUALES ---
venv/
.venv/
env/
ENV/

# --- SISTEMA Y EDITORES ---
.DS_Store
.vscode/
.idea/
*.swp